genCityGML was programmed and tested under python2.7
and was tested with Anaconda3 (python3.5)
The Script is able to run under python 2.7 and 3.5.
required python modules are:

psycopg2
lxml
time
uuid
sys
re